* {
    margin: 0;
    Padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

body {
    min-width: 320px;
    font-family: roboto;
    background-color: #fbfbfb;
    min-height: 1vh;
  
}

a {
    text-decoration: none;
    
}

img {
    max-width: 100%;
}

kbd {
    display:none;
}




.btn-reset {
    border: none;
    background: transparent;
    cursor: pointer;
}

.sounds {
    background-image:url('img/pngkey.com-drumset-png-780601.png');
    width:100%;
    padding: 25% 50%;
    background-repeat: no-repeat;
    background-position: center center;
    position:relative;
}

.sound {
    position: absolute;
    color:#ffffff;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

.play {
    
    border: transparent 2px solid;
    transition: 0.2s;
}

.clap {
    left: 42.5%;
    top: 43.3%;
    width: 2%;
    height: 3%;
}

.btn-clap {
    padding: 14px;
    border-radius: 85px;
    transform: skew(76deg, 66deg) translate(-16px, 5px) rotate3d(-1, 0, 2, 212deg);
}

.sound-name {
    text-align:center;
}

.hihat {
    top: 32%;
    left: 33.5%;
    width: 4%;
}

.btn-hihat {
    padding: 20px;
    border-radius:30px;
    transform: skew(75deg, 62deg) translate(-22px, 5px) rotate3d(2, 30, 2, 212deg);
}

.kick {
    top: 35%;
    left: 47.5%;
    width: 2%;
    height: 2%;
}

.btn-kick {
    padding: 15px;
    border-radius:30px;
    transform: skew(-76deg, 66deg) translate(-12px, -4px) rotate3d(-219, -90, 58, 203deg);
}

.openhat {
    top: 18%;
    left: 39.8%;
    width: 4%;
}

.btn-openhat {
    padding: 15px;
    border-radius:30px;
    transform: skew(81deg, 75deg) translate(-17px, 3px) rotate3d(-191, -53, 58, 203deg);
}

.boom {
    top: 35%;
    left: 56.5%;
    width: 2%;
}

.btn-boom {
    padding: 15px;
    border-radius:30px;
    transform: skew(106deg, 68deg) translate(-10px, -5px) rotate3d(-47, 66, 2, 212deg);
}

.ride {
    top: 19%;
    right: 35%;
    width: 2%;
}

.btn-ride {
    padding: 15px;
    border-radius:30px;
    transform: skew(98deg, 70deg) translate(-15px, -8px) rotate3d(1, 14, 5, 212deg);
}

.snare {
    top: 42.5%;
    right: 34%;
    width: 2%;
}

.btn-snare {
    padding: 15px;
    border-radius:30px;
    transform: skew(101deg, 52deg) translate(-20px, -6px) rotate3d(-14, -8, 6, 212deg);
}

.tom {
    top: 57%;
    right: 45.7%;
    width: 2%;
}

.btn-tom {
    padding: 32px;
    border-radius: 37px;
    transform: translate(-14px, -47px);
}

.tink {
    bottom: 16.8%;
    left: 43.4%;
    width: 2%;
}

.btn-tink {
    padding: 15px;
    
    transform: skew(65deg, 72deg) translate(-6px, 11px) rotate3d(37, 61, 2, 212deg);
}

.playing {
    border-width: 1px;
    border-color: rgb(255 0 0 / 50%);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.99);
   
}

.visual {
    background-image:url('img/8thNote.svg');
    
    /* height: 50%; */
    background-size: contain;
    padding: 50px;
    opacity: 0.5;
    position: absolute;
    animation: grow 0.6s linear;
    transform: translate(-51%, -50%) scale(0.5);
    z-index: 100;
    background-repeat: no-repeat;
}

@keyframes grow {
    to {
      transform: translate(-50%, -1000%) scale(4);
      opacity: 0;
    }
}